.container .new-tweet {    
    color: #292929;
    padding : 0em 2em 2em 2em; 
    width: 28em;
    margin: 1.5em 2em;
    border-radius: 1em;
    border: 3px solid #d7d7d7;
    background:#e6e6e6;
}
.new-tweet h2 {
    color: #000000;
    border-bottom: 2px solid #000000;
}
.new-tweet textarea {
    background: #ffffff;
    padding: 5px;  
    width: 24em
}
.new-tweet input.submit {
    float: left;

}
span.counter {
    float: right;
}

.red {
  color: red;
}

.new-tweet .error1 {
  text-align:center;
  color: #ffffff;
  border: 1em solid #d14f4f ;
  background:#f00;
  border-radius: 1em;
  display: none;

}
.new-tweet .error2 {
  text-align:center;
  color: #ffffff;
  border: 1em solid #d14f4f ;
  background:#f00;
  border-radius: 1em;
  display: none;

}



-webkit-appearance: none;
